.mat-grid-list .mat-grid-tile .mat-figure {
    justify-content: flex-start;
    align-items: flex-start;
 }
 .mat-grid-list .mat-grid-tile .mat-figure {
   padding: 5px 0 5px 5px;
   display: block;
 }
 .mat-grid-list  .mat-grid-tile {
   /*border: 1px solid #f1f1f1;*/
   border-radius: 5px;
 }
 