.scrollbar-hide {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.scrollbar-sm {
    &::-webkit-scrollbar {
        width: 8px;
    }
        
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(207, 206, 206); 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(151, 151, 151); 
    }
}

.scrollbar-xs {
    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 4px;
    }
        
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(207, 206, 206); 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(151, 151, 151); 
    }
}