.notifier__container .notifier__notification--material .notifier__notification-message{
  font-size: 12px;
}
.notifier__container .notifier__notification--material {
  padding: 2px 10px 2px 20px;
}

.notifier__container .notifier__notification--material i {
  font-size: large;
  top: 2px;
  position: relative;
}

.notifier__container > ul{
  margin: 0px;
}